[submodule "lattices/FiniteGroups"]
	path = lattices/FiniteGroups
	url = https://github.com/roed314/FiniteGroups.git
[submodule "Parallel.magma"]
	path = lattices/Parallel.magma
	url = git@github.com:edgarcosta/Parallel.magma.git
[submodule "lattices/lattools"]
	path = lattices/lattools
	url = https://github.com/edgarcosta/lattools.git
